[submodule "vendor/restler"]
	path = vendor/restler
	url = git://github.com/danwrong/restler.git
[submodule "vendor/jslint"]
	path = vendor/jslint
	url = git://github.com/reid/node-jslint

[submodule "vendor/optimist"]
	path = vendor/optimist
	url = git://github.com/substack/node-optimist.git
