<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %}{{page.title}} &raquo; ready.js{% else %}ready.js by dsimard{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="{{site.baseurl}}stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <p>
            <a href="{{site.baseurl}}"><img src="http://s3.amazonaws.com/files.posterous.com/headers/2452232/scaled500.png" alt="alt text" title="ready.js - continuous javascript integration" /></a>            
          </p>
          <hr />
        </div>
      </div>
      <div class="row-fluid">
        <div class="span9">
          {% if page.title %}
            <h1>
              {{page.title}}
              {% if page.date %}
                <small>{{page.date | date: "%Y-%m-%d"}}</small>
              {% endif %}
            </h1>
          {% endif %}
          {{ content }}
        </div>
        <div class="span3">
          <div class="well sidebar-nav">
            <p>
              <ul class="nav nav-list">
                <li><a href="{{site.baseurl}}">Homepage</a></li>
                <li><a href="{{site.baseurl}}c">Configuration file</a></li>
                <li><a href="https://github.com/dsimard/ready.js">Source</a></li>
                <li>
                  <a href="http://travis-ci.org/dsimard/ready.js"><img src="https://secure.travis-ci.org/dsimard/ready.js.png?branch=master" alt="Build Status" /></a>
                </li>
              </ul>
            </p>
            <p>
              <ul class="nav nav-list">
                <li class="nav-header">Blog</li>
                {% for post in site.posts %}
                  <li>{{ post.date | date: "%Y-%m-%d" }}</span> <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <hr />
          <a href="https://github.com/dsimard/ready.js">ready.js</a> by 
          <a href="https://github.com/dsimard/">dsimard</a>
          |
          <a href="mailto:dsimard@azanka.ca">dsimard@azanka.ca</a>
        </div>
      </div>
    </div>
  </body>
</html
